@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Righteous&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

.name {
  font-family: 'Black Ops One', cursive;
}

