/* @import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Righteous&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
  background: #000;
}
body
{
  font-family: 'Poppins';
  background: #000;
  color: #fff;
}
.name{
  font-family: 'Black Ops One';
  /* font-size: 79.2px; */
  
}